<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{../../css/bootstrap-datetimepicker.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{../../js/bootstrap-datetimepicker.js}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
</head>
<body>
	<div th:replace="/common/common::header"></div>
	<div class="container">
	    <div class="page-header">
	     <h1><span th:text="${title}"></span></h1> 
	    </div>
	
	    <div class="row">  
        	<div class="col-md-12">
	        	<form class="form-horizontal" role="form" action="/sample01/input" th:action="@{/sample01/input}" th:object="${memberForm}" method="post">
					<!-- text -->
					<div class="form-group">			
						<label for="name" class="col-md-2 col-form-label" >Text</label>			
						<div class="col-sm-10">
							<input type='text' class="form-control" id="inputText" name="inputText" th:field="*{inputText}" placeholder="例） input text"  />
							<span th:if="${#fields.hasErrors('inputText')}" th:errors="*{inputText}" class="alert alert-warning help-block">error!</span>
						</div>
					</div>
					<!-- passwoad -->
					<div class="form-group">
						<label for="name" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword" name="passText" th:field="*{passText}" placeholder="例） password text"  />
							<span th:if="${#fields.hasErrors('passText')}" th:errors="*{passText}" class="alert alert-warning help-block">error!</span>
						</div>
					</div>
					<!-- email -->
					<div class="form-group">
						<label for="name" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input type='text' class="form-control" id="inputEmail" name="emailText" th:field="*{emailText}" placeholder="例） email text"  />
							<span th:if="${#fields.hasErrors('emailText')}" th:errors="*{emailText}" class="alert alert-warning help-block">error!</span>
						</div>
					</div>
					<!-- calendar -->
					<div class="form-group">
						<label for="name" class="col-sm-2 col-form-label">Calendar</label>
						<div class="col-sm-10">
			                <div class='input-group date' id='datetimepicker1'>
			                    <input type='text' class="form-control" id="inputCalendar" name="calendarText" th:field="*{calendarText}" placeholder="例） 1981-08-22 08:22" />
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			                </div>
			                <span th:if="${#fields.hasErrors('calendarText')}" th:errors="*{calendarText}" class="alert alert-warning help-block">error!</span>
		                </div>
					</div>		
					<script type="text/javascript">
					$(function () {
					    $('#datetimepicker1').datetimepicker();
					   viewMode: 'years'
					});		
					</script>     
					
					<!-- textarea -->
					<div class="form-group">
						<label for="name" class="col-sm-2 col-form-label">Textarea</label>
						<div class="col-sm-10">
							<textarea rows="3" cols="80" class="form-control" id="inputTextarea" name="areaText" th:field="*{areaText}" placeholder="例） テキストエリア"></textarea>
							<span th:if="${#fields.hasErrors('areaText')}" th:errors="*{areaText}" class="alert alert-warning help-block">error!</span>
						</div>				
					</div>
					<!-- select single -->
					<div class="form-group">
						<label class="col-sm-2 col-form-label" for="exampleSelect">Single<br/>Select</label>
						<div class="col-sm-10">
							<select class="form-control" id="exampleSelect" name="selectBoxText">
								<option value="">---</option>
								<option th:each="item : ${selectItems}" th:value="${item.value}" th:text="${item.key}" th:selected="${item.value} == *{selectBoxText}"></option>
							</select>
							<span th:if="${#fields.hasErrors('selectBoxText')}" th:errors="*{selectBoxText}" class="alert alert-warning help-block">error!</span>
						</div>
					</div>
					<!-- select multi -->
					<div class="form-group">
						<label class="col-sm-2 col-form-label" for="exampleMSelect">Multi<br/>Select</label>
						<div class="col-sm-10">
							<select class="form-control" id="exampleMSelect" name="selectsBoxText" multiple="multiple" size="6">
								<option value="">---</option>
								<option th:each="item : ${selectItems}" th:value="${item.value}" th:text="${item.key}" th:field="*{selectsBoxText}"></option>
							</select>
							<span th:if="${#fields.hasErrors('selectsBoxText')}" th:errors="*{selectsBoxText}" class="alert alert-warning help-block">error!</span>
						</div>
					</div>			
					<!-- checkbox single -->
					<div class="form-group">
						<label class="col-sm-2 col-form-label">Single<br/>Checkbox</label>
						<div class="col-sm-10">
							<label>
								<input type="checkbox" name="checkBoxText" value="on" th:field="*{checkBoxText}" /> Active
							</label>
							<span th:if="${#fields.hasErrors('checkBoxText')}" th:errors="*{checkBoxText}" class="alert alert-warning help-block">error!</span>
						</div>					
					</div>
					<!-- checkbox multi -->
					<div class="form-group">
						<label class="col-sm-2 col-form-label">Multi<br/>Checkbox</label>
						<div class="col-sm-10">
							<div th:each="item : ${checkItems}">
								<label>
							 		<input type="checkbox" name="checksBoxText" th:value="${item.value}" th:text="${item.key}" th:field="*{checksBoxText}" />
								</label>							
							</div>
							<span th:if="${#fields.hasErrors('checksBoxText')}" th:errors="*{checksBoxText}" class="alert alert-warning help-block">error!</span>	
						</div>							
					</div>
					<!-- radio -->
					<div class="form-group">
						<label class="col-sm-2 col-form-label">Radio<br/>Button</label>
						<div class="col-sm-10" >
							<div th:each="item : ${radioItems}">
								<label>
									<input type="radio" name="radioBoxText" th:value="${item.value}" th:text="${item.key}" th:field="*{radioBoxText}" />
								</label>
							</div>
							<span th:if="${#fields.hasErrors('radioBoxText')}" th:errors="*{radioBoxText}" class="alert alert-warning help-block">error!</span>
						</div>					
					</div>
					<!-- submit -->
					<div class="form-group">
						<div class="col-sm-10 col-form-label">
							<input id="submit" name="submit" type="submit" value="確認画面へ進む" class="btn btn-primary" />
						</div>
					</div>
					<input type="hidden" name="memberId" id="memberId" th:value="*{memberId}" />
				</form>
        	</div>
      	</div>		
	</div><!-- /.container -->

</body>
</html>