<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
<form role="form" th:action="@{/login}" method="post" class="text-center card">
<div class="card-body">
<h1 class="card-title"><img src="/img/login_icon.png" width="150" height="150" alt="ログイン"/></h1>
<div th:if="${param.error}" class="alert alert-danger" role="alert">ユーザーIDまたはパスワードが違います</div>
<p class="card-text"><input class="form-control" type="text" id="username" name="username" placeholder="User ID" required autofocus></p>
<p class="card-text"><input class="form-control" type="password" id="password" name="password" placeholder="Password" required></p>
<p class="card-text"><a href="#">Forgot the password?</a></p>
<p class="card-text"><button class="btn btn-primary" type="submit">ログイン</button></p>
</div>
</form>
</body>
</html>