<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="/common/common::header"></div>
	<div class="container">	
		<div class="starter-template">
	        <h1><span th:text="${title}"></span></h1>
	        <h3><a href="/sample01/input">1. 新規登録（Spring MVC/Spring Data JPA/Thymeleaf）</a></h3>
	        <h3><a href="/sample02/list">2. 検索・編集・削除（Spring MVC/Spring Data JPA/Thymeleaf）</a></h3>
	        <h3><a href="/sample03/index">3. ダウンロード・アップロード機能（Spring MVC/Spring Data JPA/Thymeleaf）</a></h3>
	        <h3><a href="/sample04/index">4. バッチ処理（Spring Batch）</a></h3>
	        <h3><a href="/sample05/index">5. API処理（Spring REST API）</a></h3>
	        <h3><a href="/sample06/index">6. 単体テスト（Spring Test）</a></h3>
	        <h3><a href="/sample07/index">7. 認証・認可機能（Spring Security）</a></h3>     
	        <h3><a href="/sample09/list">8. MyBatis</a></h3>
		</div>
   	</div><!-- /.container -->

</body>
</html>